@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');


* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background-color: #EAE8FE;
}

.hidden {
    display: none;
}

.header {
    padding-bottom: 67px;
    text-align: center;
}
.header img {
    width: 386px;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 171px;
}
.section_left {
    width: 360px;
    padding: 31px 27px 24px;
    background-color: white;
    box-sizing: border-box;
}
.section_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
    box-sizing: border-box;
}
.section_left .cola_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    background-color: #fff;
}

.cola_btn{
    position: relative;
    padding: 11px 0 9px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.cola_btn:active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #6327FE;
    border-radius: 10px;
    box-sizing: border-box;
}
.soldout {
    position: relative;
    pointer-events: none;
}
.soldout::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: no-repeat center/ 60px 46px url('mediaquery/Sold-out.svg') rgba(0, 0, 0, 0.5);
    
}

.cola_btn .cola_img {
    width: 36px;
}
.cola_btn .cola_name {
    display: block;
    font-size: 9px;
    line-height: 13.03px;
    margin: 6px 0 7px;
}
.cola_btn .cola_price {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;    
    background-color: #6327FE;
    color: white;
    font-size: 12px;
}

.buy {
    margin-top: 20px;
    width: 306px;
}

.balance, .return_btn {
    margin-bottom: 11px;
}

.buy .balance {
    float: left;
    width: 200px;
    padding: 6px 10px 7px;
    border-radius: 5px;
    background-color: #EAE8FE;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20.27px;
    
}
.balance .balance_money {
    float: right;
}
.return_btn {
    float: right;
    width: 94px;
    padding: 6px 9px 8px ;
    border-radius: 5px;
    font-size: 13px;
    line-height: 18.82px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.deposit_inp, .deposit_btn {
    margin-bottom: 11px;
}
.deposit_inp {
    width: 200px;
    padding: 6px 0 8px 6px;
    float: left;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing: border-box;
    /* grid-template-columns: 1/3; */
}

.select_cola_list {
    width: 200px;
    height: 106px;
    float: left;
    padding: 12px 14px 12px 12px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #EAE8FE;
    overflow-y: scroll;
}
.select_cola_list::-webkit-scrollbar {
    width: 12px;
    height: 79px;
    /* background-color: #6327FE; */
}
.select_cola_list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 50px;
    border: 4px solid transparent;
    background-clip: padding-box;
}



.select_cola_list li {
    font-size: 9px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.select_cola_list li + li {
    margin-top: 6px;
}
.select_cola_list li img {
    width: 18px;
    margin: 6px 0 7px 10px;
}
.select_cola_list li .cola_name {
    position: absolute;
    line-height: 13.03px;
    margin: 18px 0 18px 10px;
}
.select_cola_list .count {
    float: right;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    font-weight: 500;
    font-size: 14px;
}

.get_btn {
    float: right;
    width: 94px;
    padding: 43px 35px 44px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 13px;
    line-height: 18.82px;
    color: #fff;
    font-weight: 700;
    background-color: #6327FE;
}

.mymoney {
    padding: 9px 27px;
    margin-bottom: 20px;
    background-color: #fff;
}
.mymoney_in {
    padding: 6px 10px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 14px;
    line-height: 20.27px;
    background-color: #EAE8FE;
}

.mymoney_in strong {
    float: left;
}
.mymoney_in .mymoney_money {
    float: right;
}
.getcola {
    padding: 25px 27px 26px;
    background-color: #fff;
}

.getcola_txt {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 13px;
    text-align: center;
}

.getcola_list {
    width: 306px;
    height: 364px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
}
.total {
    float: right;
    margin-top: 6px;
    font-size: 12px;
    line-height: 17.38px;
}

@media screen and (max-width: 360px) {
    body {
        background-color: #fff;
    }
    .header img {
        width: 166px;
    }
    .header {
        padding-bottom: 0px;
    }
    .main {
        margin-bottom: 0px;
    }
    
}