@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

body, main, p{
    margin: 0 auto;
}

button {
    border: 0;
    background-color: #fff;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: lavender;
}

.header {
    height: auto;
    /* background-color: red; */
    margin-bottom: 67px;
    text-align: center;
}
.header img {
    width: 386px;
}

.main {
    width: 900px;
    text-align: center;
}
.section1 {
    float: left;
    width: 360px;
    padding: 31px 27px 28px;
    background-color: white;
}
.cola {
    width: 94px;
    /* height: 130px; */
    padding: 11px 12px 9px;
    border: 3px solid rgb(223, 223, 223);
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
}
.cola:nth-child(1), .cola:nth-child(2) {
    margin-bottom: 12px;
}
.cola:nth-child(1), .cola:nth-child(2),
.cola:nth-child(4), .cola:nth-child(5) {
    margin-right: 12px;
}
.cola:hover {
    border: 3px solid #6327FE;
}
/* .soldout {
    width: 115px;
    height: 165px;
    border-radius: 10px;
    background-color: rgb(90, 88, 88);
    display: inline-block;
    
} */
.cola img {
    width: 36px;
    height: 65px;
    /* margin: 11px 29px 6px; */
}
.cola .cola_text {
    font-size: 9px;
    
}
.cola .cola_btn {
    width: 70px;
    padding: 3px;
    margin-top: 7px;
    border-radius: 50px;    
    background-color: #6327FE;
}
.cola .cola_btn {
    color: white;
    font-size: 12px;
}
.balance {
    width: 200px;
    padding: 6px 10px 7px;
    float: left;
    margin-top: 20px;
    border-radius: 5px;
    background-color: lavender;
}
.balance .balance_text_1 {
    display: inline;
    float: left;
}
.balance .balance_text_2 {
    display: inline;
    float: right;
}
.return_btn {
    width: 94px;
    padding: 6px 8px 10px 9px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.section2 {
    float: right;
    width: 360px;
    /* height: inherit; */
    /* padding: 20px; */
    background-color: yellow;
}
.section2-1 {
    height: 10%;
    margin: 20px;
    background-color: green;
}
.section2-2 {
    height: 90%;
    margin: 20px;
    background-color: purple;
}
.footer {
    /* height: 100px; */
    display: block;
}